openai
llama-index
nltk
langchain
pyttsx3 
SpeechRecognition
gtts
langchain_community
sentence-transformers  
flask
pygame
PyAudio
fitz
pymupdf
stripe
boto3
frontend
tools
flask_mail